---
## Import zone

---

In [245]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [115]:
def load_dataframe_and_report(path, name):
    df = pd.read_csv(path)
    n_rows, n_cols = df.shape      
    missing_report = df.isna().sum()
    columns = df.columns.tolist()
    sep = '---------------------------------------------------------------------------'
    print(sep)
    print(f"Dataset being analized: {name}")
    print(sep)
    print(f"N rows ({name})--> {n_rows}")
    print(f"N cols ({name})-->  {n_cols}")
    print(sep)
    print('Columns name')
    print(columns)
    print(sep)
    print("Is there missing data?:\n")
    print(missing_report)
    print(sep)
    display(df.head())


    return df, n_rows, n_cols, missing_report, columns

In [246]:
import calendar

month_dict = {calendar.month_name[num]: num for num in range(1,13)}


def date_parser(my_date):
    """
        parse date from (Month_name day, year ) to (yyyy/mm/dd)
    """
    
    my_date = my_date.split(",")    
    my_month_day = my_date[0].strip().split(" ")
    my_month, my_day, my_year =  [*my_month_day,my_date[1].strip()]
    my_parsed_date = f"{my_year}/{month_dict[my_month]:02d}/{my_day}"
    return my_parsed_date

# dateParser("March 30, 2021	")

In [247]:
month_dict

{'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}


---

#### Data Exploration

---

In [248]:
p_dict = {
    "Amazon":0, 
    "Disney":1,
    "Hulu":2, 
    "Netflix":3
}

inverse_p_dict = {v:k for k,v in p_dict.items()}

plataform = ["Amazon","Disney","Hulu", "Netflix"]
file_name = ["amazon_prime_titles.csv", "disney_plus_titles.csv", "hulu_titles.csv", "netflix_titles.csv"]
dataframes = []

---
#### Dataset: Amazon

---

In [249]:
rel_path = '../data/'+file_name[0]
df_amazon, n_rows_amazon, n_cols_amazon, missing_report_amazon, columns_amazon = load_dataframe_and_report(rel_path, plataform[0])
dataframes.append(df_amazon)

---------------------------------------------------------------------------
Dataset being analized: Amazon
---------------------------------------------------------------------------
N rows (Amazon)--> 9668
N cols (Amazon)-->  12
---------------------------------------------------------------------------
Columns name
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
---------------------------------------------------------------------------
Is there missing data?:

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64
---------------------------------------------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

---
### Dataset: Disney plus

---

In [250]:
rel_path = '../data/'+file_name[1]
df_disney, n_rows_disney, n_cols_disney, missing_report_disney, columns_disney = load_dataframe_and_report(rel_path,plataform[1])
dataframes.append(df_disney)

---------------------------------------------------------------------------
Dataset being analized: Disney
---------------------------------------------------------------------------
N rows (Disney)--> 1450
N cols (Disney)-->  12
---------------------------------------------------------------------------
Columns name
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
---------------------------------------------------------------------------
Is there missing data?:

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64
---------------------------------------------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

---
### Dataset: hulu

---

In [251]:
rel_path = '../data/'+file_name[2]
df_hulu, n_rows_hulu, n_cols_hulu, missing_report_hulu, columns_hulu = load_dataframe_and_report(rel_path,plataform[2])
dataframes.append(df_hulu)

---------------------------------------------------------------------------
Dataset being analized: Hulu
---------------------------------------------------------------------------
N rows (Hulu)--> 3073
N cols (Hulu)-->  12
---------------------------------------------------------------------------
Columns name
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
---------------------------------------------------------------------------
Is there missing data?:

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64
---------------------------------------------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

---
#### Dataset: Netflix

---

In [252]:
rel_path = '../data/'+file_name[3]
df_netflix, n_rows_netflix, n_cols_netflix, missing_report_netflix, columns_netflix = load_dataframe_and_report(rel_path,plataform[3])
dataframes.append(df_netflix)

---------------------------------------------------------------------------
Dataset being analized: Netflix
---------------------------------------------------------------------------
N rows (Netflix)--> 8807
N cols (Netflix)-->  12
---------------------------------------------------------------------------
Columns name
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
---------------------------------------------------------------------------
Is there missing data?:

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
---------------------------------------------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

---
### We must add id column to each dataframe

id =  firt_letter_of_service + show_id

---

In [253]:
for i in range(len(dataframes)):
    first_letter = plataform[i][0].lower()
    dataframes[i]['id'] = dataframes[i]['show_id'].map(lambda x: first_letter+x)

---
### Null values from rating column must be replaced to "G" --> Mature audience

---

In [254]:
for df in dataframes:
    df['rating'].fillna('G', inplace=True)

---
### Dates must be in the format yyyy/mm/dd

---

In [255]:
def apply_or_not_apply(x):
    if (isinstance(x,str)):
        return (date_parser(x))
    else:
        return x

for df in dataframes:
    df["date_added"] = df["date_added"].map(lambda x: date_parser(x) if isinstance(x,str) else x)

---
### Text field must be lowercase
y c
Duda: Los textfield en minuscula---eso incluye los nombres propios de las columnas title, director, cast y country??

---

In [257]:
cat = df.select_dtypes(include=['object','category']).columns.tolist()

for df in dataframes:
    for c in cat:
        df[c] = df[c].map(lambda x: x.lower() if isinstance(x, str) else x)

---
### Ratings

---

In [42]:
df = pd.read_csv('../data/ratings/1.csv')
df.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500